<!-- about.html-->

{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>The About Page</h1>
  <p class="lead">This website uses Python library Scrapy for scraping another website containing car ads. Afterwards, this website displays car names and their respective images.</p>
</div>
{% endblock %}