<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>WebCrawler</h1>
  <p class="lead">Scraping car data has never been that easy!</p>
  <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'run_scraper') }}';">Start scraping car data...</button>
</div>
{% endblock %}