<!-- index.html-->

{% extends "base.html" %}
{% block title %}Scraper Output{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Scraper output:</h1>
    <ol>
    {% for car in car_data %}
        <li>
            <b>{{car.name}}</b><br>
            <img src="{{car.img_src}}"><br>
            <small>Source: {{car.img_src}}</small>
        </li>
    {% endfor %}
    </ol>
</div>
{% endblock %}